@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-principal {
    text-align: center;
    font-family: 'Lobster', cursive;    
    font-size: 50px;
    color: #eeeef6;


}

header {
    background: #222244;
    padding: 10px 0;

    
}

nav {
    text-align: center;
    background: #222244;
    
}

#menu ul {
    padding-bottom: 15px;
    width: 50%;
    margin: auto;
    list-style: none;
    
    
}

#menu ul li{
    display: inline;
    font-family: 'Andada Pro', serif;
    margin: 10px;

}

#menu ul li a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #eeeef6;

}

#menu ul li a:hover{
    color:#000000 ;
    background-color: #d6d6f5;
    border-radius: 10px;
    transition: all 0.5s;

}



#Banner {
    width: 100%;
    height: 500px;
    margin-bottom: -10px;
}


.titulo-centralizado {
    text-align: center;
    font-family: 'Andada Pro', serif;
    padding-bottom: 20px;
    font-size: 30px;
    color:#2727a5;
}

.principal {
    background: #d6d6f5;
    padding: 40px;

}

.texto {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #3030cf;
}
#missao {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 27px ;
    font-family: 'Andada Pro', serif;

}


#missao em strong {
    color: #2c2c54;
}


.beneficios ul {
    display: inline-block;   
    vertical-align: top;
    width: 20%;
    margin-right: 23%;

}
.itens {
   font-style: italic;
}

.beneficios {
    padding: 20px;
    background:#eaeafa;
    
}



.beneficios_img {
    margin-left: 300px;
    width: 30%;
}
footer {
    background: #222244;
    
    
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}   

footer ul li a i{
    padding: 0 150px;
    font-size: 120px;
    
    
}
footer ul li a{    
    text-decoration: none;
    color: #eaeafa;
}

.texto-icones {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 30px;
}

footer ul li :hover{
    color:#4476bb ;
    transition: all 0.5s;
}


/*     


footer ul {
    text-align: center;
    font-size: 100px;
    width: 100%;
    margin: auto;
    list-style: none;
}

footer ul li{
    display: inline;
    margin: 100px;

}

footer ul li a{
    text-decoration: none;
    color: black;

}

footer ul li a:hover{
    color:#f7f1e3 ;
    background-color: #95afc0;
    transition: all 0.5s;
} */

.footer-end {
    text-align: center;
    background-image: url("/Modificando projeto Barbearia Alura/_img/bg.jpg"); 
    padding: 20px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}