@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
header {
    background: #f7f1e3;
    padding: 20px 0;
    padding: 10px;
    
}

main {
    background-color:#FFFFF0;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;

}
nav li {
    display: inline;
    margin-left: 15px;
    margin: 20px;
    font-family: 'Andada Pro', serif;
    

}

nav a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 30px
}

nav a:hover {
color:#f7e3e3;
background-color: rgb(0, 0, 0);
border-radius: 15px;
transition: all 0.5s;

}


.produtos  {
 width: 940px;
 margin: 0 auto;
 padding: 50px 0;
}

.produtos li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px 10px 40px 40px;
    
}

.produtos li:hover {
    border-color: darkblue;
    transition: all 0.3s;
    
    
}
.produtos li:active {
    border-color: #ff793f;
}

.produtos li:hover h2 {
    font-size:  33px;
    transition: all 0.3s;

}

.produtos h2 {
    font-size: 30px;
    font-family: 'Andada Pro', serif;
    font-weight: bold;
}

.produto_descricao {
    padding-top: 10px ;
    font-size: 18px;
    font-family: 'Andada Pro', serif;
}

.produto_preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px ;
}



.contato ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: black;
    
}   

.contato ul li a i{
    padding: 0 150px;
    font-size: 120px;
    
    
}
.contato ul li a{    
    text-decoration: none;
    color: black;
}

.texto-icones {
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 30px;
}

.contato ul li :hover{
    color: #38ada9 ;
    transition: all 0.5s;
}

footer {
    text-align: center;
    background-image: url("/Modificando projeto Barbearia Alura/_img/bg.jpg"); 
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
    